body {
  font-family: 'Segoe UI';
  margin: 0;
  padding: 0;
  font-size: 12pt;
}

h1 {
  font-size: 16pt;
  margin-bottom: 2pt;
}

h2 {
  font-size: 13pt;
  margin-bottom: 2pt;
}

.subtitle {
  margin-top: 2pt;
}

table, th, td {
  border-collapse: collapse;
  border: 1px dotted silver;
}

th, td {
  vertical-align: top;
  padding: 4pt;
}

.container {
  padding-left: 20pt;
  padding-right: 20pt;
  padding-top: 6pt;
  padding-bottom: 6pt;
}

.hero {
  color: white;
  padding: 0;
  margin: 0;
}

.banner {
  background-color: #5c5c7c;
}

.study-status {
  font-weight: bold;
}

.footer {
  font-size: smaller;
  margin-top: 12pt;
  border-top: 1px dotted silver;
  padding-left: 20pt;
  padding-right: 20pt;
  padding-top: 12pt;
  padding-bottom: 20pt;
  text-align: center;
}